<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553209416106-b3fm64juhg0vje3lo0ig9df4c8nl871r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553209416106-b3fm64juhg0vje3lo0ig9df4c8nl871r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>553209416106-25ptk6rm01rqq2ntqepd5h3qrmne5aip.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrbw-3F9kRanC0qtMRGYToDLzATfslAmY</string>
	<key>GCM_SENDER_ID</key>
	<string>553209416106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-5c35a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-5c35a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553209416106:ios:87f1da1904ea58b8c183d3</string>
</dict>
</plist>